body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  color: #444;
  margin: 1em auto;
  padding: 1em;
  max-width: 40em;
  text-align: center;
}

p, ul, li {
  text-align: left;
  line-height: 1.5;
}

li {
  margin-bottom: 0.5em;
  padding-left: 0.5em;
}

a {
  text-decoration: none;
  color: #1E90FF;
}

h1, h2 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2em;
  text-align: center;
  margin-top: 0;
  color: #444;
}

h2 {
  font-size: 1.3em;
  text-align: left;
  margin-bottom: 0.5em;
}

canvas {
  margin: 1em auto;
}

.controls {
  text-align: center;
  max-width: 30em;
  margin: 1em auto;
}

